<!--全ユーザーの本の投稿一覧-->
<% if @new_book.errors.any? %>
         <h4><%= @new_book.errors.count %>errors prohibited this book from being saved.</h4>
   　　　　<ul>
   　     <% @new_book.errors.full_messages.each do |message| %>
    　　　<li><%= message %></li>
    　　　<% end %>
   　　　</ul>
 　　　　</div>
<% end %>

<body>
 <main>
  <%= render 'book', user: @user %>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
       <%= render 'index', books: @books, user: @user %>
      </div>
     </div>
   </div>
  </main>
</body>